.home-product-items-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    
    flex-wrap: wrap;
    
}
.home-product-items{
    width: 30%;
    height: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.home-product-items-stars{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.home-product-items-stars:first-child{
    color: red;
}
.home-product-items-price{
    width: 40%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.home-product-items-price > span:nth-of-type(2){
    color: red;
}

  