*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-1{
    width: 100%;
    height: 47vw;
    background: url(../../public/hero_man.png),url(../../public/h1_hero.jpeg) ;
    background-position: 80px 40px, 0 0;
    background-repeat: no-repeat;
    background-size: 47%, auto;
    display: flex;
    
}
.empty-div{
    width: 50%;
    height: 100%;
}
.her0-1-write-up{
    width: 50%;
    height: 90%;
    display: flex;
    padding: 13% 9%;
    flex-direction: column;
    gap: 50px;
}
.her0-1-write-up h1{
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    color: #2577FD;
    font-size: 40px;
    font-style: normal;
}
.her0-1-write-up h2{
    font-size: 100px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
}
.her0-1-write-up p{
    font-size: 20px;
    color: #000000;
    font-family: "Playfair Display",sans-serif;
}
.her0-1-write-up button{
    width: 150px;
    height: 50px;
    background-color: #2577FD;
    color: #ffffff;
    border: none;
    padding: 10px 8px;
    border-radius: 20px;
    font-size: 20px;
    font-family: poppins;
    cursor: pointer;
}
.her0-1-write-up button:hover{
    background-color: #3fa4fd;

}